{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
                <p>pipo</p>
            </div>
        </div>
    </div>
{% endblock %}
