<p class="ms-3">
    F. Quinton, R. Popoff, B. Presles, S. Leclerc, F. Meriaudeau, G. Nodari, O. Lopez,
    J. Pellegrinelli, O. Chevallier, D. Ginhac, J.-M. Vrigneaud , J.-L. Alberini.
    "A Tumor and Liver Automatic Segmentation (ATLAS) dataset: a hepatocellular carcinoma dataset
    for automatic segmentation of liver and liver tumours on contrast-enhanced magnetic resonance imaging".
    <em>Data </em><b>2023</b>, In press.
</p>