<p class="ms-3">
    F. Quinton, R. Popoff, B. Presles, S. Leclerc, F. Meriaudeau, G. Nodari, O. Lopez,
    J. Pellegrinelli, O. Chevallier, D. Ginhac, J.-M. Vrigneaud , J.-L. Alberini.
    "A Tumor and Liver Automatic Segmentation (ATLAS) dataset: a hepatocellular carcinoma dataset
    for automatic segmentation of liver and liver tumours on contrast-enhanced magnetic resonance imaging".
    <em>Data </em><b>2023</b>, 8(5), 79.
    <a href="https://doi.org/10.3390/data8050079">https://doi.org/10.3390/data8050079</a>
</p>
<p>
    <a class="badge text-bg-primary link-underline link-underline-opacity-0 ms-3 p-2"
       href="https://www.mdpi.com/2306-5729/8/5/79/pdf">
        <i class="fa-solid fa-file-lines fa-2xl pe-2"></i></i> PDF
    </a>
</p>
