
// Colors
$dark-black: #090e0f;

.opacity-10 {
  opacity: 0.1;
}

.ps-10 {
  padding-left: 10rem !important
}

.pe-10 {
  padding-right: 10rem !important
}

@media (min-width: 992px) {
  .ps-lg-10 {
    padding-left: 10rem !important
  }
  .pe-lg-10 {
    padding-right: 10rem !important
  }

}