
.img-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-h-20 {
  min-height: 20rem;
}

.img-h-25 {
  min-height: 25rem;
}

.img-h-30 {
  min-height: 30rem;
}

.img-h-50 {
  min-height: 50rem;
}