.w-80 {
  width: 80% !important;
}


.h-80 {
  height: 80% !important;
}

.h-20 {
  height: 20% !important;
}


.h-70 {
  height: 70% !important;
}

.h-30 {
  height: 30% !important;
}

.ps-7 {
  padding-left: 7rem !important
}

.pe-7 {
  padding-right: 7rem !important
}

.ps-10 {
  padding-left: 10rem !important
}

.pe-10 {
  padding-right: 10rem !important
}

@media (min-width: 992px) {
  .ps-lg-7 {
    padding-left: 7rem !important
  }
  .pe-lg-7 {
    padding-right: 7rem !important
  }
  .ps-lg-10 {
    padding-left: 10rem !important
  }
  .pe-lg-10 {
    padding-right: 10rem !important
  }
}

@media (min-width: 1200px) {
  .ps-xl-7 {
    padding-left: 7rem !important
  }
  .pe-xl-7 {
    padding-right: 7rem !important
  }
  .ps-xl-10 {
    padding-left: 10rem !important
  }
  .pe-xl-10 {
    padding-right: 10rem !important
  }
}

.mt-10 {
  margin-top: 10rem !important
}
.mb-10 {
  margin-bottom: 10rem !important
}

@media (min-width: 992px) {
  .mt-lg-10 {
    margin-top: 10rem !important
  }
  .mb-lg-10 {
    margin-bottom: 10rem !important
  }
}
@media (min-width: 1200px) {
  .mt-xl-10 {
    margin-top: 10rem !important
  }
  .mb-xl-10 {
    margin-bottom: 10rem !important
  }
}
